.git
.github
node_modules
**/node_modules
.env
**/.env
**/.env.*
!**/.env.example
supabase/.temp
eval/results
prototype/ppstructure/__pycache__
**/__pycache__
*.log
.DS_Store
.cursor
application
export
tools
yhf/results
